<div id="select">
	
</div>
<br>
<br>
<div id="tournament">
          
</div>
<br>
<br>


<div class="row">
  <div class="col-md-1"> Test----- <br> Test2----- <br> Test3-----</div>
   <div class="col-md-1"><br>Test2-----</div>
  </div>
  <br>
<div class="row">
  <div class="col-md-1"> Test4----- <br> Test5-----<br> Test6-----</div>
   <div class="col-md-1"><br>Test5-----</div>
    <div class="col-md-1"><br>Test8</div>
  </div>
  <br>
<div class="row">
  <div class="col-md-1"> Test7----- <br> Test8-----<br> Test9-----</div>
   <div class="col-md-1"><br>Test8-----</div>
  </div>
  <br>