
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class = "dropdown"> 
      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Log In
        <span class="caret"></span></a>
        <ul class = "dropdown-menu">
        	<li><%= link_to "Register", users_new_path %> </li>
        </ul>
    </ul>
  </div>
</nav>