
<% userid = current_user.nil? ? (0):(current_user.id) %>


<div class="col-md-6">
	<div id="joinedGameDate">
	</div>
	<br>
 	<div id="buttonNumber">

		<ul id="joinedList" style="list-style-type:none">
			</li> Select a date from the calendar-> </li>
		</ul> 

	</div>
	<div id="submitWeight" style="display: none">
		<button class="btn btn-primary weight-button" data-user="<%=userid%>">Submit</button>
	</div>
	<br>
	<br>
	To Do 
	<br>
	Room administration(change password, edit game list, etc.)
	<br>
	Edit Room: setup a password check on the room before submitting changes
	<br>
	Delete Room, UserRoom, and any games associated
	<br>
	Delete room after date passes
	<br>
	Don't allow room creation before today's date
	<br>
	Password check on room join
	<br>
	HTML Safe. Make sure someone can't inject code as a game name
	<br>
	rename tournament.js
	<br>
	<br>
	Future:
	<br>
	Multiple rooms on a single day
	<br>
	Tournament
	<br>
</div>

<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>