
<% userid = current_user.nil? ? (0):(current_user.id) %>


<div class="col-md-6">
	<div id="joinedGameDate">
	</div>
	<br>
 	<div id="buttonNumber">

		<ul id="joinedList" style="list-style-type:none">
			</li> -Select a <span style="background-color: #FB9431">date</span>
 from the calendar -></li>
 			<li> -Join a <span style="background-color: #b5ccf2">game night</span> with the Join tab </li>
		</ul> 

	</div>
	<div id="submitWeight" style="display: none">
		<button class="btn btn-primary weight-button" data-user="<%=userid%>">Submit</button>
	</div>
	<br>
	<br>

</div>

<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>