
<div class="col-md-6">
	<div id="joinedGameDate">
	</div>
	<br>
 	<div id="buttonNumber" type="hidden">
		<ul id="joinedList" style="list-style-type:none">

		</ul> 

	</div>
	<br>
	<br>
	To Do 
	<br>
	Submit Weight, 24 hour before voting again or single vote(lean towards single vote)
	<br>
	HTML Safe. Make sure someone can't inject code as a game name
	<br>
	at least one game entered when creating a new room
	<br>
	<br>
	Future:
	<br>
	Room administration(change password, edit game list, etc.)
	<br>
	Delete room after date passes
	<br>
	Don't allow room creation before today's date
	<br>
	Multiple rooms on a single day
	<br>
	Tournament
	<br>
</div>

<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>