
<% user = current_user %>

<div class="col-md-6">
	<div id="joinedGameDate">
	</div>
	<br>
 	<div id="buttonNumber">

		<ul id="joinedList" style="list-style-type:none">
			</li> Select a date from the calendar-> </li>
		</ul> 

	</div>
	<div id="submitWeight" style="display: none">
		<button class="btn btn-primary weight-button" data-user="<%=user.id%>">Submit</button>
	</div>
	<br>
	<br>
	To Do 
	<br>
	Weight submit is working, need to update the user_room to true, already pulling user, need room_id
	<br>
	HTML Safe. Make sure someone can't inject code as a game name
	<br>
	at least one game entered when creating a new room
	<br>
	rename tournament.js
	<br>
	<br>
	Future:
	<br>
	Room administration(change password, edit game list, etc.)
	<br>
	Delete room after date passes
	<br>
	Don't allow room creation before today's date
	<br>
	Multiple rooms on a single day
	<br>
	Tournament
	<br>
</div>

<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>