
<div class="col-md-6">
	If logged in: 
		-Show games joined
	<br>
	<br>
	Join
	<br>
	-use jquery filtering to find the div and swap text
	<br><br>
<%= link_to "Join", join_path%>
</div>

<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>