
<div class="col-md-6">
	<div id="joinedGameDate">
	</div>
	<div>
		<ul id="joinedList">

		</ul>
	</div>
	To Do 
	<br>
	Thursday:
	<br>
	Pull the game weight in the calendar. 
	<br>
	Check for vote
	<br>
	Set the weight # as the last digit and convert to "i"(possible?)
	<br>
	Subtract 1, add 1(Plus/Minus Buttons w/updated #? Possible in jquery?)
	<br>
	Submit is 24 hours not passed, update userroom datetime after submission
	<br>
	<br>
	Future:
	<br>
	Delete room after date passes
	<br>
	Don't allow room creation before today's date
	<br>
	Multiple rooms on a single day
	<br>
	Tournament
</div>

<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>