<div class="row">
	<div class="col-md-6"> Bunch of setup text
	</div>
	<div class="col-md-6">
	<div id = "calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
	



	</div>
</div>
<br>
<a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red</a>
<br>
<br>
