
<div class="col-md-6">
	<div id="gameDate">
					
	</div>
	<br>
	<br>
	<div id="gameList">
		blah
	</div>

	<%= text_field_tag "hello", nil, id: 'roomid'%>
	
</div>
<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>
