
<div class="col-md-6">
	How do I make this return Room info on click?
	<br>
	<br>
	<div id="roomSelect">
		<%= text_field_tag "hello", nil, id: 'jqq'%>
	</div>
</div>

<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>