@import "bootstrap-sprockets";
@import "bootstrap";

body {
	
	background-color: white;
}



.test{
	background-color: green;
}

.test2{
	background-color: pink;
}

#content{
	background-color: red;
}

#notice{
	background-color: #F3F4F4;
	color: green;
}

#error{
	background-color: #F3F4F4;
	color: red;
}

.navbar-custom{
	background-color: #cdddf7;
}

.table{
	border: 1px solid black;
	width: 100%;
	text-align: center;
}

.calendarSuccess{
	background-color: #b5ccf2;
}